footer {
    background-color: #002060;
    color: white;
    padding: 40px 20px;
    text-align: center;
    margin-top: 200px;

}

.imagem-logo-footer{
    width: 150px;
    height: auto;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-section {
    margin-bottom: 20px;
    max-width: 300px;
    
}

.footer-section h4 {
    margin-bottom: 5px;
    font-size: 1.5em;
    color: #ffffff;
    
}

.footer-section p {
    padding: 20px;
    text-align: center;
}

.footer-section p {
    margin: 5px 0;
}

.social-links a {
    margin: -30px 10px;
    display: inline-block;
}

.social-links img {
    width: 30px;
    height: 30px;
    filter: brightness(0) invert(1);
}

.map iframe {
    border-radius: 10px;
    width: 350px;
    height: 250px;
    margin-left: -20px;
    
}

.footer-bottom {
    
    margin-top: 20px;
    border-top: 4px solid #ffffff;
    padding-top: 10px;
    font-size: 0.9em;
}
